# dependencies
node_modules/

# env secrets (never commit)
.env
.env.local
.env.*.local

# Next.js
.next/
out/
*.tsbuildinfo

# local scripts
scripts/
docs/

# misc
.DS_Store
*.log

# Ignore local SSL certificates
*.pem
.cert/
localhost.pem
localhost-key.pem
.vercel
.claude/
.playwright-mcp/
